<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NicoLiveAlertTwitterWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NicoLiveAlertTwitterWPF.Properties.Settings>
            <setting name="consumer_key" serializeAs="String">
                <value />
            </setting>
            <setting name="consumer_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="account_list" serializeAs="String">
                <value />
            </setting>
            <setting name="user_session" serializeAs="String">
                <value />
            </setting>
            <setting name="mail" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="auto_admission_list" serializeAs="String">
                <value />
            </setting>
            <setting name="autoadd_community" serializeAs="String">
                <value />
            </setting>
            <setting name="autoadd_time" serializeAs="String">
                <value />
            </setting>
            <setting name="program_history" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_launch_start_filterstream" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_launch_start_autoaddadmission" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_otherlive_url" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_otherlive_client" serializeAs="String">
                <value />
            </setting>
            <setting name="setting_otherlive_mode" serializeAs="String">
                <value />
            </setting>
        </NicoLiveAlertTwitterWPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>